<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
<title>AboutPage</title>
</head>
<body>
	<div class="topnavbar">
		<br/>
		<a th:href="@{/}">Home</a>
		<br/>
	</div>
	<div class="title"><h1>Silph Spa</h1></div>

	<br/>
	<br/>
	<br/>
	
	<div class="body">
		<p>Questa web application e' stata creata da </p>
		<ul>
			<li>
				<a th:text="'Andrea Gualtieri'" th:href="'https://github.com/eagle150'">link_andrea</a>
			</li>
			
		</ul>
	</div>
</body>
</html>